

<table class="table table-striped" id="DetailTableContent">
    <thead>
        <tr>
            <th scope="col">STT</th>
            <th scope="col">Tên người dùng</th>
            <th scope="col">MAC</th>
            <th scope="col">Đơn vị</th>
            <th scope="col">IP</th>
            <th scope="col"><span>Trạng thái</span></th>
        </tr>
    </thead>
    <tbody>
        @{int stt = 1; }
        @foreach (Update.ViewModels.DanhSachMayTinh x in ViewBag.DS2)
        {

            <tr>
                <th scope="row"> @stt.ToString()</th>
                <td>@x.tenMT</td>
                <td>@x.mac</td>
                <td>@x.donvi</td>
                <td>@x.ip</td>
                <td><span class="trangthai">2</span></td>
                @{ stt = stt + 1;}
            </tr>




        }
    </tbody>
</table>
