
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="page_content">
    <div class="row">
        <div class="col-lg-8">
            <h4>DANH SÁCH MÁY TÍNH</h4>
            <div class="computer">
                <div class="row">
                    @foreach (Update.ViewModels.SoLuongMayTinh y in ViewBag.SL)
                    {
                        <div class="col-lg-4">
                            <div class="cart_body">
                                <div class="cart_body_icon">
                                    <img src="~/assets/img/images/logo.png" alt="">
                                    <h4>@y.donvi</h4>
                                    <img class="img_arlet" src="~/assets/img/images/Security_1.png" alt="">
                                </div>
                                <div class="cart_body_number">
                                    <a href=""><span style="color: red;">@y.sl</span> Máy tính chưa cập nhật </a>
                                </div>
                                <div class="cart_body_list">
                                    <a href="" data-toggle="modal" data-target="#exampleModalCenter" onclick="onClickShowMT(`@y.donvi`)">Xem danh sách <i class="fas fa-angle-double-right"></i> </a>
                                </div>

                            </div>

                        </div>
                    }


                </div>

            </div>


        </div>

        <div class="col-lg-4">
            <div class="cve_list">
                <h4>LỖ HỔNG MỚI</h4>
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th scope="col" >STT</th>
                            <th scope="col">Phần mềm</th>
                            <th scope="col">CVE</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (Update.ViewModels.CVE_NEW y in ViewBag.CVE)
                        {
                            <tr>
                                <th scope="row"class="stt">1</th>
                                <td>@y.tenPhanMem</td>
                                <td class="cve_number">@y.maCVE</td>

                            </tr>

                        }


                    </tbody>
                </table>
            </div>
        </div>
        <div class="list">
            <h4 class="body_list1">DANH SÁCH MÁY TÍNH</h4>
            <div class="body_list">
                <div class="row">
                    <div class="col-lg-12">
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th scope="col">STT</th>
                                    <th scope="col">Tên người dùng</th>
                                    <th scope="col">IP</th>
                                    <th scope="col">MAC</th>
                                    <th scope="col">Phầm mềm</th>
                                    <th scope="col">Phiên bản hiện tại</th>
                                    <th scope="col">Phiên bản mới nhất</th>
                                    <th scope="col">Ngày phát hành</th>
                                    <th scope="col"><span>Trạng thái</span></th>
                                </tr>
                            </thead>
                            <tbody>
                                @{ int i = 1;}
                                @foreach (Update.ViewModels.DanhSachMayTinh x in ViewBag.DS)
                                {
                                <tr>
                                    <th scope="row">@i.ToString()</th>
                                    <td>@x.tenMT</td>
                                    <td>@x.ip</td>
                                    <td>@x.mac</td>
                                    <td>@x.tenpm</td>
                                    <td>@x.phienBanHienTai</td>
                                    <td>@x.phienBanMoiNhat</td>
                                    <td>@x.ngayPhatHanh</td>
                                    @if (@x.phienBanHienTai != @x.phienBanMoiNhat)
                                    {
                                        x.trangThai = "1         ";
                                    }
                                    <td><span class="trangthai">@x.trangThai</span> <button class="btn2">Gửi thông báo</button></td>
                                    @{i = i + 1;}
                                </tr>                
                                                      
                                
                                }
                            </tbody>
                        </table>
                        <div class="page_list">
                            <ul>
                                <li><a href="">1</a></li>
                                <li><a href="">2</a></li>
                                <li><a href="">3</a></li>
                                <li><a href=""><i class="fas fa-angle-double-right"></i></a></i></li>
                                <li><a href="">Last</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
        <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h3 class="modal-title" id="exampleModalLongTitle">DANH SÁCH MÁY TÍNH</h3>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <span id="tendonvi"></span>
                        <div id="DetailTableContent"> </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-primary">Save changes</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
<script type="text/javascript">
    $(document).ready(function () {
        $("#dashboard").addClass("active");
        $("#phanmem").removeClass("active");
        $("#luutru").removeClass("active");

    });
    function onClickShowMT(tendonvi) {

        $.ajax({
            type: "POST",
            url: "GetImageFromLogId",
            data: { tendonvi: tendonvi },
            success: function (data) {
                $("#DetailTableContent").html(data);

            },
            error: function () {
                alert('error!');
            }
        });

    }



</script>
